.list {
  display: grid;

  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-column-gap: 42px;
  grid-row-gap: 40px;
}

@media (min-width: 2560px) {
  .list {
    grid-template-columns: repeat(4, 440px);
  }
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: 2fr;
  }
}

@media (max-width: 768px) {
  .list { 
  }
}

@media (max-width: 320px) {
  .list {
   padding-top: 30px;
  }
}