.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 28px;
}
@media (max-width: 1440px) {
  .list { 
     grid-column-gap: 15px;
  }
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .list {
    grid-template-columns: 1fr;
  }
}

