.container {
  margin: 0 auto;
  padding: 0 219px;
}

 

@media (max-width: 1440px) {
  .container {
    padding: 0 100px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 425px) {
  /* .header {
    padding: 12px 9px 12px 15px;
  }

  .body {
    padding: 30px 20px;
  } */
}

@media (max-width: 320px) {
  .container {
    padding: 0 20px;
  }
  
}
