.filters__group_sidebar {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 300px;
  height: 837px;
}

.filter__group {
  padding: 30px 0;

  &:not(:last-child) {
    border-bottom: 2px solid rgba(154, 167, 173, 1);
  }
}

.filters__title {
  font-family: Tactic Sans;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 2%;
  vertical-align: middle;

  padding-bottom: 40px;
}

.filter__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.active {
  button {
    background-color: #a9a9a9;
  }
}

.filter__reset {
  width: 100%;
  height: 160px;

  padding: 40px 0;
}

.filter__reset button {
  width: 100%;
  height: 80px;

  font-family: Tactic Sans;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 4%;
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 1440px) {
  .filters__group_sidebar {
    min-width: 170px;
  }
}

@media (max-width: 1024px) {
  .filters__group_sidebar {
    min-width: 150px;
  }

  .filters__title {
    padding-bottom: 20px;
    font-size: 20px;
    text-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .filters__group_sidebar {
    flex-direction: row;
    height: auto;
  }

  .filter__group {
    &:not(:first-child) {
      display: none;
    }

    &:first-child {
      .filters__title {
        display: none;
      }

      border-bottom: none;
    }
  }

  .filter__buttons {
    display: flex;
    flex-wrap: nowrap;
    min-width: 200px;
    overflow-x: auto;
    scroll-snap-type: mandatory;
  }

  .filter__button {
    scroll-snap-align: start;
  }

  @media (max-width: 320px) {
    .filter__group {
      padding: 10px 0;
    }

    .filter__buttons {
      display: flex;
      flex-wrap: nowrap; 

      gap: 4px;

      overflow-x: auto;
      scroll-snap-type: mandatory;
      width: 300px;
    }

    .filter__button {
      scroll-snap-align: start;
    }
  }
}
