.container {
  margin: 0 auto;
  padding: 0 9.85%; 
}

/* ///////////////////////// Header ///////////////////////// */
.header {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(1, 12, 19, 1);
}

.vertical-line {
  width: 2px;
  height: 68px;
  background-color: white;
}

.logo__container {
  display: flex;
  align-items: center;
  max-width: 520px;

  gap: 20px;
  color: rgba(255, 255, 255, 1);
}

.logo__text {
  font-family: Tactic Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  vertical-align: middle;
}

/* ///////////////////////// Main ///////////////////////// */

.main__title {
  max-width: 594px;
  font-family: Tactic Sans;
  font-weight: 400;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 3%;
  vertical-align: middle;
  color: rgba(1, 12, 19, 1);
}

.main__inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 60px;

  max-width: 1482px;
}

@media (max-width: 1440px) {
  .main__inner {
    grid-column-gap: 30px;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 12px 12.5px;
  }

  .header .container {
    padding: 0;
  }

  .logo__container {
    width: 100%;
  }

  .main .container {
    padding: 0 20px;
  }

  .main__title { 

    font-family: Tactic Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 3%;
    vertical-align: middle;
  }

  .main__inner {
    grid-template-columns: 1fr;
  }
}
