.container {
  margin: 0 auto;
  padding: 0 189px;
}

/* ///////////////////////// Header ///////////////////////// */
.header {
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(1, 12, 19, 1);
}

.header__inner {
}

.vertical-line {
  width: 2px;
  height: 68px;
  background-color: white;
}

.logo__container {
  display: flex;
  align-items: center;
  max-width: 520px;

  gap: 20px;
  color: rgba(255, 255, 255, 1);
}

.logo__text {
  font-family: Tactic Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 5%;
  vertical-align: middle;
}

/* ///////////////////////// Main ///////////////////////// */
.main {
  gap: 60px;
}

.main__title {
  font-family: Tactic Sans;
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 3%;
  vertical-align: middle;
  color: rgba(1, 12, 19, 1);
}

.main__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;

  max-width: 1482px;
}
